/* ---- global ---- */

// for overview blur
// requires the [niri/backdrop] section to be enabled
layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

/* _______________________________________________________________ */
/* Apps: blur them all without xray so it looks more realistic. */

window-rule {
  background-effect {
    blur true
    xray false
  }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  No need to set blur to 'true' here, it's automatic.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel)$"
  background-effect {
    xray false
    //blur false
  }
}

/* You can also fine-tune the blur effect globally. */
blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}

/* _______________________________________________________________ */

window-rule {
  geometry-corner-radius 10
  clip-to-geometry true 
  opacity 0.9
    background-effect {
      blur true
      xray false
    }
}

window-rule {
    draw-border-with-background false
}

/* _______________________________________________________________ */
/* more specific */

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    match app-id=r#"org.gnome.nautilus"#
    opacity 0.92
    background-effect {
        blur true
        xray false
    }
    geometry-corner-radius 10
    clip-to-geometry true
}
